* {
    margin: 0;
    padding: 0;
}



.button-nav{
    width: 100px;
    height: 40px;
    margin-top: 20px;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    background-color: grey;
    color: white;
    
}

.style-table{
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
  }

.numberPar {
      background-color: #999999;
      color: white;
  }
.numberImpar {
        background-color: #51515174;
        color: white;
    
}

.fondo-manual{
    background-color: #5d5d5d;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    color: white;
    width: 75%;
    
}

